[Unit]
Description=High performance DNS-over-TLS proxy
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=30
User=root
SyslogIdentifier=dotproxy
Environment=DOTPROXY_CONFIG=/etc/dotproxy/config.yaml
EnvironmentFile=-/etc/default/dotproxy
ExecStart=/usr/bin/dotproxy --verbosity info

[Install]
WantedBy=multi-user.target
