# Generated code
internal/log/level_string.go
internal/network/loadbalancingpolicy_string.go
internal/network/transport_string.go

# Application configuration
config.yaml

# Build artifacts
bin/

# Tooling artifacts
go.sum
